/* You can add global styles to this file, and also import other style files */

$font-stack: helvetica, sans-serif;
$font-brand: 'Fontdiner Swanky', cursive;
$windsor: #520e6f;
$bonjour: #f4f1f3;
$pgold: #bb8600;
$shark: #28282f;


body {
  color: $shark;
  background-color: $bonjour;
  font: {
    family: $font-stack;
    size: 1em;
  }
}

.main-header {
  font-family: $font-brand;
}
h2 {
  color: $windsor;
  a{color: $pgold}
}

.color2 {
  color: #a19ca3;
}
